<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cs2511-lab03/lab03-enrolment_z5162064/src/lab03/test/EnrolSystemMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="lab03.test.EnrolSystemMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cs2511-lab03"/>
</launchConfiguration>
